{
    auto_https off
}

# Prometheus
{$PROMETHEUS_DOMAIN} {
    reverse_proxy prometheus:9090
}

# Alertmanager
{$ALERTMANAGER_DOMAIN} {
    reverse_proxy alertmanager:9093
}

# Grafana
{$GRAFANA_DOMAIN} {
    reverse_proxy grafana:3000
}

# Pushgateway
{$PUSHGATEWAY_DOMAIN} {
    reverse_proxy pushgateway:9091
}

# Loki
{$LOKI_DOMAIN} {
    reverse_proxy loki:3100
}

# Jaeger
{$JAEGER_DOMAIN} {
    reverse_proxy jaeger:16686
}

# OpenTelemetry Collector
{$OTEL_DOMAIN} {
    reverse_proxy otel-collector:4317
}

# Node Exporter
{$NODEEXPORTER_DOMAIN} {
    reverse_proxy nodeexporter:9100
}

# cAdvisor
{$CADVISOR_DOMAIN} {
    reverse_proxy cadvisor:8080
}

# Базовая аутентификация
route {
    basicauth {
        admin YWRtaW5wYXNzd29yZA==
    }
    reverse_proxy *
}
